@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@layer base {
  :root {
    --header-text: 5rem;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 192, 100%, 72%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --thick-border: 4px;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 192, 100%, 72%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.cart {
  background-color: hsl(192, 100%, 72%);
}

.wavy-cart {
  clip-path: polygon(
    100% 100%,
    100% 0,
    5.9% 0,
    5.2% 2%,
    4.43% 4%,
    3.64% 6%,
    2.85% 8%,
    2.09% 10%,
    1.42% 12%,
    0.85% 14%,
    0.41% 16%,
    0.13% 18%,
    0 20%,
    0.05% 22%,
    0.27% 24%,
    0.65% 26%,
    1.16% 28%,
    1.8% 30%,
    2.52% 32%,
    3.3% 34%,
    4.1% 36%,
    4.88% 38%,
    5.61% 40%,
    6.26% 42%,
    6.79% 44%,
    7.19% 46%,
    7.43% 48%,
    7.5% 50%,
    7.4% 52%,
    7.14% 54%,
    6.72% 56%,
    6.16% 58%,
    5.5% 60%,
    4.76% 62%,
    3.97% 64%,
    3.17% 66%,
    2.4% 68%,
    1.69% 70%,
    1.07% 72%,
    0.57% 74%,
    0.22% 76%,
    0.03% 78%,
    0.01% 80%,
    0.16% 82%,
    0.47% 84%,
    0.93% 86%,
    1.52% 88%,
    2.21% 90%,
    2.97% 92%,
    3.77% 94%,
    4.56% 96%,
    5.32% 98%,
    6.01% 100%
  );
}
.drop-shad {
  filter: drop-shadow(-5px 0 0 black);
}
.cart-off-white {
  background-color: #f2ebe0;
}
.d {
  color: #cefc17
}